---
title: Experiences
description: A list of past and current work and projects from Maxim Voldman Hutz.
layout: default
---

{% assign work = site.data.work %}

<section id="projects" class="dark back">
  <h2>My experiences.</h2>
  <div id="project-list">
    {% for item in work %}
      {% assign id = item[0] %}
      {% assign data = item[1] %}

      <a class="{{ data.color }} project-item shadow" href="/experience/{{ id }}">
        {% if data.image %}
          <div class="space project-image-outer">
            <img src="{{data.image}}" alt="{{data.title}}" class="project-image">
          </div>
        {% else %}
          <div class="project-noimage" aria-hidden="true">Image Not Available</div>
        {% endif %}
        <div class="nav-link project-link r-icon" data-i="arrow_right">
          {{ data.title }}
          <!-- Add the subtitle, if it exists. -->
          {% if data.subtitle %}
            <span>:</span>
            &nbsp;
            <p>{{ data.subtitle }}</p>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>