---
title: Home
description: This is the home page of Maxim Voldman Hutz's personal website.
layout: default
---

{% assign home = site.data.home %}
{% assign work = site.data.work %}

<section id="about" class="light back">
  <div class="flex"></div>
  <div class="flex"></div>
  <div>
    <h1>{{ home.welcome }}</h1>
    <i>{{ home.status }}</i>
  </div>
  <p id="about-me">{{ home.about }}</p>
  <hr class="darker">
  <nav>
    <div id="inner-nav">
      <a href="mailto:{{ home.email }}" class="nav-link blue button flex">{{ home.email }}</a>
      <a href="/resume" class="nav-link red button r-icon flex" data-i="arrow_right" target="_blank">View Resume</a>
    </div>
    <div class="space"></div>
  </nav>
  <div class="flex"></div>
</section>

<section id="projects" class="dark back">
  <h2>Worked on:</h2>
  <div id="project-list">
    {% for project in home.featured %}
      <a class="{{ work[project].color }} project-item shadow" href="/experience/{{ project }}">
        {% if work[project].image %}
          <div class="space project-image-outer">
            <img src="{{work[project].image}}" alt="{{work[project].title}}" class="project-image">
          </div>
        {% else %}
          <div class="project-noimage" aria-hidden="true">Image Not Available</div>
        {% endif %}
        <div class="nav-link project-link r-icon" data-i="arrow_right">
          {{ work[project].title }}
          <!-- Add the subtitle, if it exists. -->
          {% if work[project].subtitle %}
            <span>:</span>
            &nbsp; 
            <p>{{ work[project].subtitle }}</p>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
  <hr class="lighter">
  <a href="/experiences" id="experience-button" class="nav-link white button">View all experiences.</a>
</section>