<link rel="preload stylesheet" href="/styles/footer.css">

<footer class="dark back">
  <h2>&copy; 2022</h2>
  <div class="flex"></div>
  <a href="https://github.com/MajorDroolz" class="png-icon" target="_blank">
    <img src="/res/icons/github.webp" alt="GitHub" width="30" height="30">
  </a>
  <a href="https://www.linkedin.com/in/maximhutz/" class="png-icon" target="_blank">
    <img src="/res/icons/linkedin.webp" alt="LinkedIn" width="30" height="30">
  </a>
  <a href="mailto:maximhutz@gmail.com" class="nav-link white icon" data-i="mail" aria-label="Contact" target="_blank"></a>
</footer>