<link rel="stylesheet" href="/styles/header.css">

<header class="light back shadow">
  <a href="/" class="nav-link dark">MAX HUTZ</a>
  <div class="flex"></div>
  <a href="/experiences" class="nav-link dark icon nav3" data-i="work">Experience</a>
  <a href="/resume" class="nav-link dark icon nav3" data-i="clinical_notes" target="_blank">Resume</a>
  <a href="mailto:maximhutz@gmail.com" class="nav-link dark icon nav3" data-i="mail">Contact</a>
  <a href="/experiences" class="nav-link dark icon nav2" data-i="work" aria-label="Experience"></a>
  <a href="/resume" class="nav-link dark icon nav2" data-i="clinical_notes" aria-label="Resume" target="_blank"></a>
  <a href="mailto:maximhutz@gmail.com" class="nav-link dark icon nav2" data-i="mail" aria-label="Contact"></a>
  <button class="nav-link dark icon nav1" data-i="menu" aria-label="Menu" onclick="document.getElementById('menu')?.showModal()"></button>
</header>

<dialog id="menu">
  <div class="light width-pad shadow">
    <div id="menu-inner">
      <div id="menu-top">
        <a href="/home" class="nav-link dark">MAX HUTZ</a>
        <div class="flex"></div>
        <form method="dialog">
          <button class="nav-link dark icon" data-i="close" aria-label="Close"></button>
        </form>
      </div>
      <a href="/experiences" class="nav-link dark icon" data-i="work">Experience</a>
      <a href="/resume" class="nav-link dark icon" data-i="clinical_notes" target="_blank">Resume</a>
      <a href="mailto:maximhutz@gmail.com" class="nav-link dark icon" data-i="mail">Contact</a>
    </div>
  </div>
</dialog>